<!DOCTYPE html>

<title>Utilisateur</title>

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Mot_de_passe</th>
                <td>{{ utilisateur.motDePasse }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ utilisateur.role }}</td>
            </tr>
            <tr>
                <th>Date_inscription</th>
                <td>{{ utilisateur.dateInscription ? utilisateur.dateInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ utilisateur.statut }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ utilisateur.specialite }}</td>
            </tr>
            <tr>
                <th>Preferences</th>
                <td>{{ utilisateur.preferences }}</td>
            </tr>
            <tr>
                <th>Privileges</th>
                <td>{{ utilisateur.privileges }}</td>
            </tr>
            <tr>
                <th>Twofa_secret_key</th>
                <td>{{ utilisateur.twofaSecretKey }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ utilisateur.numtel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_index') }}">back to list</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
